body {
    border: 20px solid #bdc3c7;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;
}

div {
    /* border: 1px dashed green; */
}

.first-article {
    border-bottom: 1px solid #bdc3c7;
    margin-bottom: 20px;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h2 {
    color: #2c3e50;
    font-size: 0.2rem; 
}


.first-paragraph {
    border-left: 6px solid #bdc3c7;
    padding-left: 8px;
}