h1 {
    text-align: center;
}


table {
    display: flex;
    justify-content: center;
    text-align: center;
}

.top-left {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px;
}

.top-mid {
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
    padding: 30px;
}

.top-right {
    border-bottom: 1px solid black;
    padding: 30px;
}

.mid-left {
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
    padding: 30px;
}

.mid-mid {
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
    padding: 30px;
}

.mid-right {
    border-bottom: 1px solid black;
    padding: 30px;
}

.bottom-left {
    border-right: 1px solid black;
    padding: 30px;
}

.bottom-mid {
    border-right: 1px solid black;
    padding: 30px;
}

td:hover {
    border: 1px solid grey;
}